
@{
    ViewBag.Title = "yeniBolum";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">

   
    <div>
        <label>Bölüm Adı</label>
        <input type="text" class="form-control" name="BolumAd" />

    </div>
  
    <div>
        <button class="btn btn-info">Bölüm ekle</button>


    </div>
</form>

