
@{
    ViewBag.Title = "yeniGider";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    
    <div>
        <label>Elektrik</label>
        <input type="text" class="form-control" name="Elektrik" />

    </div>
    <div>
        <label>Su</label>
        <input type="text" class="form-control" name="Su" />

    </div>
    <div>
        <label>Doğalgaz</label>
        <input type="text" class="form-control" name="Dogalgaz" />

    </div>
    <div>
        <label>İnternet</label>
        <input type="text" class="form-control" name="internet" />

    </div>
    <div>
        <label>Gıda</label>
        <input type="text" class="form-control" name="Gida" />

    </div>
    <div>
        <label>Personel</label>
        <input type="text" class="form-control" name="Personel" />

    </div>
    <div>
        <label>Diğer</label>
        <input type="text" class="form-control" name="Diger" />

    </div>
    <div>
<button class="btn btn-info">gider ekle</button>


    </div>
</form>